In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel("uc.xlsx")

In [113]:
max(0,0)

0

In [149]:
df

,F_MATRICULA,F_MES,F_ANO,F_REGIONAL,F_CIDADE,F_KW_DTR,F_KW_DPR,F_KW_DFPR
0,63458,1,2003,2,82,65.19,NaN,NaN
1,63458,2,2003,2,82,80.77,NaN,NaN
2,63458,3,2003,2,82,64.37,NaN,NaN
3,63458,4,2003,2,82,64.78,NaN,NaN
4,63458,5,2003,2,82,65.19,NaN,NaN
5,63458,6,2003,2,82,130.38,NaN,NaN
6,63458,7,2003,2,82,128.74,NaN,NaN
7,63458,8,2003,2,82,127.92,NaN,NaN
8,63458,9,2003,2,82,125.46,NaN,NaN
9,63458,10,2003,2,82,120.54,NaN,NaN
10,63458,11,2003,2,82,120.54,NaN,NaN
11,63458,12,2003,2,82,118.08,NaN,NaN
12,63458,1,2004,2,82,113.80,NaN,NaN
13,63458,2,2004,2,82,139.58,NaN,NaN
14,63458,3,2004,2,82,121.36,NaN,NaN
15,63458,4,2004,2,82,124.64,NaN,NaN
16,63458,5,2004,2,82,123.00,0.00,123.00
17,63458,6,2004,2,82,139.40,0.00,139.40
18,63458,7,2004,2,82,127.10,0.00,127.10
19,63458,8,2004,2,82,120.54,0.00,120.54
20,63458,9,2004,2,82,123.82,0.00,123.82
21,63458,10,2004,2,82,114.80,0.00,114.80
22,63458,11,2004,2,82,121.36,0.00,121.36
23,63458,12,2004,2,82,119.72,0.00,119.72
24,63458,1,2005,2,82,124.64,0.00,124.64
25,63458,2,2005,2,82,120.54,0.00,120.54
26,63458,3,2005,2,82,125.46,0.00,125.46
27,63458,4,2005,2,82,121.36,0.00,121.36
28,63458,5,2005,2,82,127.92,0.00,127.92
29,63458,6,2005,2,82,126.28,0.00,126.28
...,...,...,...,...,...,...,...,...
29834,9998248,12,2016,2,21,0.14,0.00,0.00
29835,9998248,1,2017,2,21,0.16,0.00,0.00
29836,9998248,2,2017,2,21,0.02,0.00,0.00
29837,9998248,3,2017,2,21,0.16,0.00,0.00
29838,9998248,4,2017,2,21,0.03,0.00,0.00
29839,9998248,5,2017,2,21,0.08,0.00,0.00
29840,9998248,6,2017,2,21,0.72,0.00,0.00
29841,9998248,7,2017,2,21,0.02,0.00,0.00
29842,9998248,9,2017,2,21,0.02,0.02,0.00
29843,9998248,10,2017,2,21,0.23,0.02,0.00
29844,9998248,11,2017,2,21,0.02,0.02,0.00
29845,9998248,12,2017,2,21,0.02,0.02,0.00
29846,9998248,1,2018,2,21,0.02,0.02,0.00
29847,9998248,2,2018,2,21,0.02,0.02,0.00
29848,9998248,3,2018,2,21,0.02,0.02,0.00
29849,9998248,4,2018,2,21,0.47,0.22,0.00
29850,9998248,5,2018,2,21,18.61,0.22,0.00
29851,9998248,6,2018,2,21,34.75,31.10,0.00
29852,9998248,7,2018,2,21,34.88,34.19,0.00
29853,9998248,8,2018,2,21,35.94,34.49,0.00
29854,9998248,9,2018,2,21,34.69,34.22,0.00
29855,9998248,10,2018,2,21,34.49,33.98,0.00
29856,9998248,11,2018,2,21,35.15,33.98,0.00
29857,9998248,12,2018,2,21,34.36,34.14,0.00
29858,9998248,1,2019,2,21,36.62,34.06,0.00
29859,9998248,2,2019,2,21,34.60,33.87,0.00
29860,9998248,3,2019,2,21,34.98,33.68,0.00
29861,9998248,4,2019,2,21,44.59,33.89,0.00
29862,9998248,5,2019,2,21,34.14,33.65,0.00
29863,9998248,6,2019,2,21,43.77,43.71,0.00

In [146]:
df['F_KW_DTR'].fillna(df[['F_KW_DPR','F_KW_DFPR']].max(axis=1),inplace=True)

df['F_KW_DTR'].fillna(df[['F_KW_DPR','F_KW_DFPR']].max(axis=1),inplace=True)

In [151]:
df['F_KW_DTR'].replace(0,df[['F_KW_DPR','F_KW_DFPR']].max(axis=1),inplace=True)

In [6]:
dem=list(df['F_KW_DTR'])

In [7]:
len(c)

NameError: name 'c' is not defined

In [8]:
def CalcularDemandaOptima(demFP):
        b=[]
        preço = 0
        compara = 999999999
        indice = [0.0  for j in range(12)]
        outro = [0.0  for j in range(3000)]
        for a in range (3000):
            b.append(a)

        
       
            
        for y in range (3000):
            for z in range (3):
                
                if demFP[z] - b[y] > 0:
                    preço = preço + (demFP[z] - b[y])*2.3536
                if demFP[z] - b[y] < 0:
                    preço = preço + (demFP[z] - b[y])* -1

            outro[y] = preço
            if(preço < compara):
                compara = preço;
                indice =y

            preço=0
        compara= 99999999
        outro = [0.0 for j in range(3000)]


       
        if indice >= 0.5 and indice< 30:
            indice=30


        return (indice)

In [329]:
len(c)

55

In [9]:
b=[]
c=[]

d=0   
for a in dem:
        b=dem[d:d+3]
        c.append(CalcularDemandaOptima(b))
        d=d+1

IndexError: list index out of range

In [1]:
len(c)

NameError: name 'c' is not defined

In [19]:
df3=pd.DataFrame(c)

In [ ]:
df.to_excel("DemandaCalca2.xlsx")

In [15]:
df3

         0
0       80
1       80
2       65
3      130
4      130
5      130
6      128
7      128
8      125
9      121
10     120
11     139
12     139
13     139
14     124
15     139
16     139
17     139
18     127
19     123
20     123
21     121
22     124
23     124
24     125
25     125
26     128
27     128
28     128
29     126
...    ...
29832    0
29833    0
29834    0
29835    0
29836    0
29837    0
29838    0
29839    0
29840    0
29841    0
29842    0
29843    0
29844    0
29845    0
29846    0
29847    0
29848   30
29849   34
29850   35
29851   36
29852   36
29853   36
29854   35
29855   35
29856   36
29857   36
29858   36
29859   44
29860   44
29861   44

[29862 rows x 1 columns]