In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("C13.xlsx")

In [77]:
booleans =[]
boo=[]
n=0
last=0
x=0
y=1
for length in df.F_MATRICULA:
    if length != last:
        booleans.append(True)
        boo.append(y)
        last = length
        y=y+1
    
    else:
       
            booleans.append(False)

is_long = pd.Series(booleans)

In [78]:
df2=df.loc[is_long,'DC12']

In [79]:
df2= df2+boo

In [66]:
df.columns

Index(['Unnamed: 0', 'F_MATRICULA', 'F_ANO', 'F_MES', 'F_KW_DTR', 'DC12',
       'DC6'],
      dtype='object')

In [86]:
df.loc[is_long,'Unnamed: 0'] = df2

In [84]:
df.loc[:,'Unnamed: 0']= np.nan

In [3]:
df.replace(0,np.nan)

       Num  MATRICULA   ANO  MES     DTR   DC12    DC6
0      1.0      63458  2003    1   65.19    NaN    NaN
1      NaN      63458  2003    2   80.77    NaN    NaN
2      NaN      63458  2003    3   64.37    NaN    NaN
3      NaN      63458  2003    4   64.78    NaN    NaN
4      NaN      63458  2003    5   65.19    NaN    NaN
5      NaN      63458  2003    6  130.38    NaN    NaN
6      NaN      63458  2003    7  128.74    NaN  128.0
7      NaN      63458  2003    8  127.92    NaN  128.0
8      NaN      63458  2003    9  125.46    NaN  128.0
9      NaN      63458  2003   10  120.54    NaN  128.0
10     NaN      63458  2003   11  120.54    NaN  128.0
11     NaN      63458  2003   12  118.08    NaN  128.0
12     NaN      63458  2004    1  113.80  125.0  125.0
13     NaN      63458  2004    2  139.58  128.0  125.0
14     NaN      63458  2004    3  121.36  128.0  121.0
15     NaN      63458  2004    4  124.64  128.0  124.0
16     NaN      63458  2004    5  123.00  128.0  124.0
17     NaN      63458  2004    6  139.40  128.0  139.0
18     NaN      63458  2004    7  127.10  127.0  139.0
19     NaN      63458  2004    8  120.54  125.0  127.0
20     NaN      63458  2004    9  123.82  125.0  127.0
21     NaN      63458  2004   10  114.80  125.0  127.0
22     NaN      63458  2004   11  121.36  125.0  127.0
23     NaN      63458  2004   12  119.72  125.0  124.0
24     NaN      63458  2005    1  124.64  125.0  124.0
25     NaN      63458  2005    2  120.54  124.0  124.0
26     NaN      63458  2005    3  125.46  125.0  124.0
27     NaN      63458  2005    4  121.36  125.0  124.0
28     NaN      63458  2005    5  127.92  125.0  125.0
29     NaN      63458  2005    6  126.28  125.0  126.0
...    ...        ...   ...  ...     ...    ...    ...
29834  NaN    9998248  2016   12    0.14   30.0   30.0
29835  NaN    9998248  2017    1    0.16   30.0   30.0
29836  NaN    9998248  2017    2    0.02   30.0   30.0
29837  NaN    9998248  2017    3    0.16    NaN    NaN
29838  NaN    9998248  2017    4    0.03    NaN    NaN
29839  NaN    9998248  2017    5    0.08    NaN    NaN
29840  NaN    9998248  2017    6    0.72    NaN    NaN
29841  NaN    9998248  2017    7    0.02    NaN    NaN
29842  NaN    9998248  2017    9    0.02    NaN    NaN
29843  NaN    9998248  2017   10    0.23    NaN    NaN
29844  NaN    9998248  2017   11    0.02    NaN    NaN
29845  NaN    9998248  2017   12    0.02    NaN    NaN
29846  NaN    9998248  2018    1    0.02    NaN    NaN
29847  NaN    9998248  2018    2    0.02    NaN    NaN
29848  NaN    9998248  2018    3    0.02    NaN    NaN
29849  NaN    9998248  2018    4    0.47    NaN    NaN
29850  NaN    9998248  2018    5   18.61    NaN    NaN
29851  NaN    9998248  2018    6   34.75    NaN   30.0
29852  NaN    9998248  2018    7   34.88   30.0   34.0
29853  NaN    9998248  2018    8   35.94   30.0   35.0
29854  NaN    9998248  2018    9   34.69   34.0   35.0
29855  NaN    9998248  2018   10   34.49   35.0   35.0
29856  NaN    9998248  2018   11   35.15   35.0   35.0
29857  NaN    9998248  2018   12   34.36   35.0   35.0
29858  NaN    9998248  2019    1   36.62   35.0   36.0
29859  NaN    9998248  2019    2   34.60   35.0   35.0
29860  NaN    9998248  2019    3   34.98   35.0   35.0
29861  NaN    9998248  2019    4   44.59   35.0   36.0
29862  NaN    9998248  2019    5   34.14   35.0   36.0
29863  NaN    9998248  2019    6   43.77   36.0   43.0

[29864 rows x 7 columns]

       Unnamed: 0  F_MATRICULA  F_ANO  F_MES  F_KW_DTR   DC12  DC6
0             1.0        63458   2003      1     65.19    NaN    0
1             NaN        63458   2003      2     80.77    NaN    0
2             NaN        63458   2003      3     64.37    NaN    0
3             NaN        63458   2003      4     64.78    NaN    0
4             NaN        63458   2003      5     65.19    NaN    0
5             NaN        63458   2003      6    130.38    NaN    0
6             NaN        63458   2003      7    128.74    NaN  128
7             NaN        63458   2003      8    127.92    NaN  128
8             NaN        63458   2003      9    125.46    NaN  128
9             NaN        63458   2003     10    120.54    NaN  128
10            NaN        63458   2003     11    120.54    NaN  128
11            NaN        63458   2003     12    118.08    NaN  128
12            NaN        63458   2004      1    113.80  125.0  125
13            NaN        63458   2004      2    139.58  128.0  125
14            NaN        63458   2004      3    121.36  128.0  121
15            NaN        63458   2004      4    124.64  128.0  124
16            NaN        63458   2004      5    123.00  128.0  124
17            NaN        63458   2004      6    139.40  128.0  139
18            NaN        63458   2004      7    127.10  127.0  139
19            NaN        63458   2004      8    120.54  125.0  127
20            NaN        63458   2004      9    123.82  125.0  127
21            NaN        63458   2004     10    114.80  125.0  127
22            NaN        63458   2004     11    121.36  125.0  127
23            NaN        63458   2004     12    119.72  125.0  124
24            NaN        63458   2005      1    124.64  125.0  124
25            NaN        63458   2005      2    120.54  124.0  124
26            NaN        63458   2005      3    125.46  125.0  124
27            NaN        63458   2005      4    121.36  125.0  124
28            NaN        63458   2005      5    127.92  125.0  125
29            NaN        63458   2005      6    126.28  125.0  126
...           ...          ...    ...    ...       ...    ...  ...
29834         NaN      9998248   2016     12      0.14   30.0   30
29835         NaN      9998248   2017      1      0.16   30.0   30
29836         NaN      9998248   2017      2      0.02   30.0   30
29837         NaN      9998248   2017      3      0.16    NaN    0
29838         NaN      9998248   2017      4      0.03    NaN    0
29839         NaN      9998248   2017      5      0.08    NaN    0
29840         NaN      9998248   2017      6      0.72    NaN    0
29841         NaN      9998248   2017      7      0.02    NaN    0
29842         NaN      9998248   2017      9      0.02    NaN    0
29843         NaN      9998248   2017     10      0.23    NaN    0
29844         NaN      9998248   2017     11      0.02    NaN    0
29845         NaN      9998248   2017     12      0.02    NaN    0
29846         NaN      9998248   2018      1      0.02    NaN    0
29847         NaN      9998248   2018      2      0.02    NaN    0
29848         NaN      9998248   2018      3      0.02    NaN    0
29849         NaN      9998248   2018      4      0.47    NaN    0
29850         NaN      9998248   2018      5     18.61    NaN    0
29851         NaN      9998248   2018      6     34.75    NaN   30
29852         NaN      9998248   2018      7     34.88   30.0   34
29853         NaN      9998248   2018      8     35.94   30.0   35
29854         NaN      9998248   2018      9     34.69   34.0   35
29855         NaN      9998248   2018     10     34.49   35.0   35
29856         NaN      9998248   2018     11     35.15   35.0   35
29857         NaN      9998248   2018     12     34.36   35.0   35
29858         NaN      9998248   2019      1     36.62   35.0   36
29859         NaN      9998248   2019      2     34.60   35.0   35
29860         NaN      9998248   2019      3     34.98   35.0   35
29861         NaN      9998248   2019      4     44.59   35.0   36
29862         NaN      9998248   2019      5     34.14   35.0   36
29863         NaN      9998248   2019      6     43.77   36.0   43

[29864 rows x 7 columns]

In [4]:
df.to_excel("C11.xlsx")

ValueError: ZIP does not support timestamps before 1980